.custom-header-style{
  background-color: #e67300;
}

#footer-copyrights-tag{
  margin: 10px auto 10px auto;
}

.heading{
  margin-top: 20px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e67300;
  color: white;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.content{
  margin-top: 15%;
  margin-left: 20%;
}

.blog-post{
  margin-top: 30px;
}

.blog-post-heading{
  margin-bottom: 20px;
}

#blog-body{
  margin-top: 20px;
}

#contact-content{
  margin-top: 50px;
}

@media (max-width:700px) {
  #footer-copyrights-tag{
    font-size: 12px;
  }
}

@media (max-width:699px) {
  #contact-content{
    margin-top: 25%;
  }

  #full-name{
    display: none;
  }
  #short-name{
    display: block;
  }

}

@media (min-width:700px) {
  #full-name{
    display: block;
  }
  #short-name{
    display: none;
  }
}
